<!-- THIS IS THE FEATURED IMAGE  -->
<a href="{{ 'vision-lunch-3.jpg' | file_url }}" data-fancybox="vision" data-caption="">
	<img src="{{ 'vision-lunch-3.jpg' | file_url }}" alt="" />
  <div class="event-title"> <h4 class="catering-event">Vision Lunch</h4></div>
  <div class="view-gallery">View Gallery &#155;</div>
</a>


<!-- THESE ARE THE REST OF THE IMAGES IN THE GALLERY -->
<div style="display:none;">
<a href="{{ 'vision-lunch-2.jpg' | file_url }}" data-fancybox="vision" data-caption="">
	<img src="{{ 'vision-lunch-2.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'vision-lunch-4.jpg' | file_url }}" data-fancybox="vision" data-caption="">
	<img src="{{ 'vision-lunch-4.jpg' | file_url }}" alt="" />
</a>


<a href="{{ 'vision-lunch-5.jpg' | file_url }}" data-fancybox="vision" data-caption="">
	<img src="{{ 'vision-lunch-5.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'vision-lunch-6.jpg' | file_url }}" data-fancybox="vision" data-caption="">
	<img src="{{ 'vision-lunch-6.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'vision-lunch-7.jpg' | file_url }}" data-fancybox="vision" data-caption="">
	<img src="{{ 'vision-lunch-7.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'vision-lunch-8.jpg' | file_url }}" data-fancybox="vision" data-caption="">
	<img src="{{ 'vision-lunch-8.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'vision-lunch-9.jpg' | file_url }}" data-fancybox="vision" data-caption="">
	<img src="{{ 'vision-lunch-9.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'vision-lunch-10.jpg' | file_url }}" data-fancybox="vision" data-caption="">
	<img src="{{ 'vision-lunch-10.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'vision-lunch-11.jpg' | file_url }}" data-fancybox="vision" data-caption="">
	<img src="{{ 'vision-lunch-11.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'vision-lunch-12.jpg' | file_url }}" data-fancybox="vision" data-caption="">
	<img src="{{ 'vision-lunch-12.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'vision-lunch-13.jpg' | file_url }}" data-fancybox="vision" data-caption="">
	<img src="{{ 'vision-lunch-12.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'vision-lunch-14.jpg' | file_url }}" data-fancybox="vision" data-caption="">
	<img src="{{ 'vision-lunch-12.jpg' | file_url }}" alt="" />
</a>


<a href="{{ 'vision-lunch-15.jpg' | file_url }}" data-fancybox="vision" data-caption="">
	<img src="{{ 'vision-lunch-15.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'vision-lunch-16.jpg' | file_url }}" data-fancybox="vision" data-caption="">
	<img src="{{ 'vision-lunch-16.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'vision-lunch-17.jpg' | file_url }}" data-fancybox="vision" data-caption="">
	<img src="{{ 'vision-lunch-17.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'vision-lunch-18.jpg' | file_url }}" data-fancybox="vision" data-caption="">
	<img src="{{ 'vision-lunch-18.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'vision-lunch-19.jpg' | file_url }}" data-fancybox="vision" data-caption="">
	<img src="{{ 'vision-lunch-19.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'vision-lunch-20.jpg' | file_url }}" data-fancybox="vision" data-caption="">
	<img src="{{ 'vision-lunch-20.jpg' | file_url }}" alt="" />
</a>
  
  
  <a href="{{ 'vision-lunch-21.jpg' | file_url }}" data-fancybox="vision" data-caption="">
	<img src="{{ 'vision-lunch-21.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'vision-lunch-22.jpg' | file_url }}" data-fancybox="vision" data-caption="">
	<img src="{{ 'vision-lunch-22.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'vision-lunch-23.jpg' | file_url }}" data-fancybox="vision" data-caption="">
	<img src="{{ 'vision-lunch-23.jpg' | file_url }}" alt="" />
</a>
  
</div>