<!-- THIS IS THE FEATURED IMAGE  -->
<a href="{{ 'alivia-wedding-2.jpg' | file_url }}" data-fancybox="alivia" data-caption="">
	<img src="{{ 'alivia-wedding-2.jpg' | file_url }}" alt="" />
  <div class="event-title"><h4 class="catering-event">Alivia's Wedding</h4></div>
  <div class="view-gallery">View Gallery &#155;</div>
</a>


<!-- THESE ARE THE REST OF THE IMAGES IN THE GALLERY -->
<div style="display:none;">
<a href="{{ 'alivia-wedding-3.jpg' | file_url }}" data-fancybox="alivia" data-caption="">
	<img src="{{ 'alivia-wedding-3.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'alivia-wedding-4.jpg' | file_url }}" data-fancybox="alivia" data-caption="">
	<img src="{{ 'alivia-wedding-4.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'alivia-wedding-5.jpg' | file_url }}" data-fancybox="alivia" data-caption="">
	<img src="{{ 'alivia-wedding-5.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'alivia-wedding-6.jpg' | file_url }}" data-fancybox="alivia" data-caption="">
	<img src="{{ 'alivia-wedding-6.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'alivia-wedding-7.jpg' | file_url }}" data-fancybox="alivia" data-caption="">
	<img src="{{ 'alivia-wedding-7.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'alivia-wedding-8.jpg' | file_url }}" data-fancybox="alivia" data-caption="">
	<img src="{{ 'alivia-wedding-8.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'alivia-wedding-9.jpg' | file_url }}" data-fancybox="alivia" data-caption="">
	<img src="{{ 'alivia-wedding-9.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'alivia-wedding-10.jpg' | file_url }}" data-fancybox="alivia" data-caption="">
	<img src="{{ 'alivia-wedding-10.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'alivia-wedding-11.jpg' | file_url }}" data-fancybox="alivia" data-caption="">
	<img src="{{ 'alivia-wedding-11.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'alivia-wedding-12.jpg' | file_url }}" data-fancybox="alivia" data-caption="">
	<img src="{{ 'alivia-wedding-12.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'alivia-wedding-13.jpg' | file_url }}" data-fancybox="alivia" data-caption="">
	<img src="{{ 'alivia-wedding-13.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'alivia-wedding-14.jpg' | file_url }}" data-fancybox="alivia" data-caption="">
	<img src="{{ 'alivia-wedding-14.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'alivia-wedding-15.jpg' | file_url }}" data-fancybox="alivia" data-caption="">
	<img src="{{ 'alivia-wedding-15.jpg' | file_url }}" alt="" />
</a>

  
</div>