<!-- THIS IS THE FEATURED IMAGE  -->
<a href="{{ 'bill-clark-3.jpg' | file_url }}" data-fancybox="bill-clark" data-caption="">
	<img src="{{ 'bill-clark-3.jpg' | file_url }}" alt="" />
  <div class="event-title"><h4 class="catering-event">Bill Clark Dinner</h4></div>
  <div class="view-gallery">View Gallery &#155;</div>
  
</a>


<!-- THESE ARE THE REST OF THE IMAGES IN THE GALLERY -->
<div style="display:none;">
<a href="{{ 'bill-clark-2.jpg' | file_url }}" data-fancybox="bill-clark" data-caption="">
	<img src="{{ 'bill-clark-2.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'bill-clark-1.jpg' | file_url }}" data-fancybox="bill-clark" data-caption="">
	<img src="{{ 'bill-clark-1.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'bill-clark-4.jpg' | file_url }}" data-fancybox="bill-clark" data-caption="">
	<img src="{{ 'bill-clark-4.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'dinner-in-the-streets5.jpg' | file_url }}" data-fancybox="bill-clark" data-caption="">
	<img src="{{ 'bill-clark-5.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'bill-clark-6.jpg' | file_url }}" data-fancybox="bill-clark" data-caption="">
	<img src="{{ 'bill-clark-6.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'bill-clark-7.jpg' | file_url }}" data-fancybox="bill-clark" data-caption="">
	<img src="{{ 'bill-clark-7.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'bill-clark-8.jpg' | file_url }}" data-fancybox="bill-clark" data-caption="">
	<img src="{{ 'bill-clark-8.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'bill-clark-9.jpg' | file_url }}" data-fancybox="bill-clark" data-caption="">
	<img src="{{ 'bill-clark-9.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'bill-clark-10.jpg' | file_url }}" data-fancybox="bill-clark" data-caption="">
	<img src="{{ 'bill-clark-10.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'bill-clark-11.jpg' | file_url }}" data-fancybox="bill-clark" data-caption="">
	<img src="{{ 'bill-clark-11.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'bill-clark-12.jpg' | file_url }}" data-fancybox="bill-clark" data-caption="">
	<img src="{{ 'bill-clark-12.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'bill-clark-13.jpg' | file_url }}" data-fancybox="bill-clark" data-caption="">
	<img src="{{ 'bill-clark-13.jpg' | file_url }}" alt="" />
</a>

</div>