<!-- THIS IS THE FEATURED IMAGE  -->
<a href="{{ 'bridal-shower-1.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-1.jpg' | file_url }}" alt="" />
  <div class="event-title"><h4 class="catering-event">Mexia's Bridal Shower</h4></div>
  <div class="view-gallery">View Gallery &#155;</div>
  
</a>


<!-- THESE ARE THE REST OF THE IMAGES IN THE GALLERY -->
<div style="display:none;">
<a href="{{ 'bridal-shower-2.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-2.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'bridal-shower-3.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-3.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'bridal-shower-4.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-4.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'dinner-in-the-streets5.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-5.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'bridal-shower-6.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-6.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'bridal-shower-7.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-7.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'bridal-shower-8.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-8.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'bridal-shower-9.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-9.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'bridal-shower-10.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-10.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'bridal-shower-11.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-11.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'bridal-shower-12.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-12.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'bridal-shower-13.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-13.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'bridal-shower-14.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-14.jpg' | file_url }}" alt="" />
</a>
  
<a href="{{ 'bridal-shower-15.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
  <img src="{{ 'bridal-shower-15.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'bridal-shower-16.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-16.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'bridal-shower-17.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-17.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'bridal-shower-18.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-18.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'bridal-shower-19.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-19.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'bridal-shower-20.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-20.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'bridal-shower-21.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-21.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'bridal-shower-22.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-22.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'bridal-shower-23.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-23.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'bridal-shower-24.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-24.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'bridal-shower-25.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-25.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'bridal-shower-26.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-26.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'bridal-shower-27.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-27.jpg' | file_url }}" alt="" />
</a>
  
      <a href="{{ 'bridal-shower-28.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-28.jpg' | file_url }}" alt="" />
</a>
  
      <a href="{{ 'bridal-shower-29.jpg' | file_url }}" data-fancybox="bridal-shower" data-caption="">
	<img src="{{ 'bridal-shower-29.jpg' | file_url }}" alt="" />
</a>
  
</div>