<!-- THIS IS THE FEATURED IMAGE  -->
<a href="{{ 'dinner-in-the-streets-1.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-1.jpg' | file_url }}" alt="" />
  <div class="event-title"><h4 class="catering-event">Dinner in the Streets </h4></div>
  <div class="view-gallery">View Gallery &#155;</div>
  
</a>


<!-- THESE ARE THE REST OF THE IMAGES IN THE GALLERY -->
<div style="display:none;">
<a href="{{ 'dinner-in-the-streets-2.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-2.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'dinner-in-the-streets-3.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-3.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'dinner-in-the-streets-4.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-4.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'dinner-in-the-streets5.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-5.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'dinner-in-the-streets-6.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-6.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'dinner-in-the-streets-7.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-7.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'dinner-in-the-streets-8.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-8.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'dinner-in-the-streets-9.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-9.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'dinner-in-the-streets-10.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-10.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'dinner-in-the-streets-11.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-11.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'dinner-in-the-streets-12.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-12.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'dinner-in-the-streets-13.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-13.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'dinner-in-the-streets-14.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-14.jpg' | file_url }}" alt="" />
</a>
  
<a href="{{ 'dinner-in-the-streets-15.jpg' | file_url }}" data-fancybox="streets" data-caption="">
  <img src="{{ 'dinner-in-the-streets-15.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'dinner-in-the-streets-16.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-16.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'dinner-in-the-streets-17.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-17.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'dinner-in-the-streets-18.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-18.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'dinner-in-the-streets-19.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-19.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'dinner-in-the-streets-20.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-20.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'dinner-in-the-streets-21.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-21.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'dinner-in-the-streets-22.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-22.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'dinner-in-the-streets-23.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-23.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'dinner-in-the-streets-24.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-24.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'dinner-in-the-streets-25.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-25.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'dinner-in-the-streets-26.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-26.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'dinner-in-the-streets-27.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-27.jpg' | file_url }}" alt="" />
</a>
  
      <a href="{{ 'dinner-in-the-streets-28.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-28.jpg' | file_url }}" alt="" />
</a>
  
      <a href="{{ 'dinner-in-the-streets-29.jpg' | file_url }}" data-fancybox="streets" data-caption="">
	<img src="{{ 'dinner-in-the-streets-29.jpg' | file_url }}" alt="" />
</a>
  
</div>