<!-- THIS IS THE FEATURED IMAGE  -->
<a href="{{ 'arc-4.jpg' | file_url }}" data-fancybox="arc" data-caption="">
	<img src="{{ 'arc-4.jpg' | file_url }}" alt="" />
  <div class="event-title"><h4 class="catering-event">ARC Lunch</h4></div>
  <div class="view-gallery">View Gallery &#155;</div>
  
</a>


<!-- THESE ARE THE REST OF THE IMAGES IN THE GALLERY -->
<div style="display:none;">
<a href="{{ 'arc-2.jpg' | file_url }}" data-fancybox="arc" data-caption="">
	<img src="{{ 'arc-2.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'arc-3.jpg' | file_url }}" data-fancybox="arc" data-caption="">
	<img src="{{ 'arc-3.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'arc-1.jpg' | file_url }}" data-fancybox="arc" data-caption="">
	<img src="{{ 'arc-1.jpg' | file_url }}" alt="" />
</a>
  
    <a href="{{ 'arc-5.jpg' | file_url }}" data-fancybox="arc" data-caption="">
	<img src="{{ 'arc-5.jpg' | file_url }}" alt="" />
</a>

  
</div>