<!-- THIS IS THE FEATURED IMAGE  -->
<a href="{{ 'bbq-catering-4.jpg' | file_url }}" data-fancybox="bbq" data-caption="">
	<img src="{{ 'bbq-catering-4.jpg' | file_url }}" alt="" />
  <div class="event-title"><h4 class="catering-event">BBQ Catering</h4></div>
  <div class="view-gallery">View Gallery &#155;</div>
  
</a>


<!-- THESE ARE THE REST OF THE IMAGES IN THE GALLERY -->
<div style="display:none;">
<a href="{{ 'bbq-catering-3.jpg' | file_url }}" data-fancybox="bbq" data-caption="">
	<img src="{{ 'bbq-catering-3.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'bbq-catering-2.jpg' | file_url }}" data-fancybox="bbq" data-caption="">
	<img src="{{ 'bbq-catering-2.jpg' | file_url }}" alt="" />
</a>


<a href="{{ 'bbq-catering-5.jpg' | file_url }}" data-fancybox="bbq" data-caption="">
	<img src="{{ 'bbq-catering-5.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'bbq-catering-6.jpg' | file_url }}" data-fancybox="bbq" data-caption="">
	<img src="{{ 'bbq-catering-6.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'bbq-catering-7.jpg' | file_url }}" data-fancybox="bbq" data-caption="">
	<img src="{{ 'bbq-catering-7.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'bbq-catering-8.jpg' | file_url }}" data-fancybox="bbq" data-caption="">
	<img src="{{ 'bbq-catering-8.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'bbq-catering-9.jpg' | file_url }}" data-fancybox="bbq" data-caption="">
	<img src="{{ 'bbq-catering-9.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'bbq-catering-10.jpg' | file_url }}" data-fancybox="bbq" data-caption="">
	<img src="{{ 'bbq-catering-10.jpg' | file_url }}" alt="" />
</a>
  
</div>