<!-- THIS IS THE FEATURED IMAGE  -->
<a href="{{ 'alumni-dinner-8.jpg' | file_url }}" data-fancybox="alumni" data-caption="">
	<img src="{{ 'alumni-dinner-8.jpg' | file_url }}" alt="" />
  <div class="event-title"><h4 class="catering-event">Highlands College Alumni Dinner</h4></div>
  <div class="view-gallery">View Gallery &#155;</div>
  
</a>


<!-- THESE ARE THE REST OF THE IMAGES IN THE GALLERY -->
<div style="display:none;">
<a href="{{ 'alumni-dinner-2.jpg' | file_url }}" data-fancybox="alumni" data-caption="">
	<img src="{{ 'alumni-dinner-2.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'alumni-dinner-3.jpg' | file_url }}" data-fancybox="alumni" data-caption="">
	<img src="{{ 'alumni-dinner-3.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'alumni-dinner-4.jpg' | file_url }}" data-fancybox="alumni" data-caption="">
	<img src="{{ 'alumni-dinner-4.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'dinner-in-the-streets5.jpg' | file_url }}" data-fancybox="alumni" data-caption="">
	<img src="{{ 'alumni-dinner-5.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'alumni-dinner-6.jpg' | file_url }}" data-fancybox="alumni" data-caption="">
	<img src="{{ 'alumni-dinner-6.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'alumni-dinner-7.jpg' | file_url }}" data-fancybox="alumni" data-caption="">
	<img src="{{ 'alumni-dinner-7.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'alumni-dinner-1.jpg' | file_url }}" data-fancybox="alumni" data-caption="">
	<img src="{{ 'alumni-dinner-1.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'alumni-dinner-9.jpg' | file_url }}" data-fancybox="alumni" data-caption="">
	<img src="{{ 'alumni-dinner-9.jpg' | file_url }}" alt="" />
</a>

  
</div>