<!-- THIS IS THE FEATURED IMAGE  -->
<a href="{{ 'filipino-pork-lunch-3.jpg' | file_url }}" data-fancybox="filipino" data-caption="">
	<img src="{{ 'filipino-pork-lunch-3.jpg' | file_url }}" alt="" />
  <div class="event-title"><h4 class="catering-event">Filipino Pork Lunch</h4></div>
  <div class="view-gallery">View Gallery &#155;</div>
  
</a>


<!-- THESE ARE THE REST OF THE IMAGES IN THE GALLERY -->
<div style="display:none;">
<a href="{{ 'filipino-pork-lunch-2.jpg' | file_url }}" data-fancybox="filipino" data-caption="Caption #2">
	<img src="{{ 'filipino-pork-lunch-2.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'filipino-pork-lunch-4.jpg' | file_url }}" data-fancybox="filipino" data-caption="Caption #2">
	<img src="{{ 'filipino-pork-lunch-4.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'filipino-pork-lunch-5.jpg' | file_url }}" data-fancybox="filipino" data-caption="Caption #2">
	<img src="{{ 'filipino-pork-lunch-5.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'filipino-pork-lunch-6.jpg' | file_url }}" data-fancybox="filipino" data-caption="Caption #2">
	<img src="{{ 'filipino-pork-lunch-6.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'filipino-pork-lunch-7.jpg' | file_url }}" data-fancybox="filipino" data-caption="Caption #2">
	<img src="{{ 'filipino-pork-lunch-7.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'filipino-pork-lunch-8.jpg' | file_url }}" data-fancybox="filipino" data-caption="Caption #2">
	<img src="{{ 'filipino-pork-lunch-8.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'filipino-pork-lunch-9.jpg' | file_url }}" data-fancybox="filipino" data-caption="Caption #2">
	<img src="{{ 'filipino-pork-lunch-9.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'filipino-pork-lunch-10.jpg' | file_url }}" data-fancybox="filipino" data-caption="Caption #2">
	<img src="{{ 'filipino-pork-lunch-10.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'filipino-pork-lunch-11.jpg' | file_url }}" data-fancybox="filipino" data-caption="Caption #2">
	<img src="{{ 'filipino-pork-lunch-11.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'filipino-pork-lunch-12.jpg' | file_url }}" data-fancybox="filipino" data-caption="Caption #2">
	<img src="{{ 'filipino-pork-lunch-12.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'filipino-pork-lunch-13.jpg' | file_url }}" data-fancybox="filipino" data-caption="Caption #2">
	<img src="{{ 'filipino-pork-lunch-13.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'filipino-pork-lunch-14.jpg' | file_url }}" data-fancybox="filipino" data-caption="Caption #2">
	<img src="{{ 'filipino-pork-lunch-14.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'filipino-pork-lunch-15.jpg' | file_url }}" data-fancybox="filipino" data-caption="Caption #2">
	<img src="{{ 'filipino-pork-lunch-15.jpg' | file_url }}" alt="" />
</a>
  
</div>