<!-- THIS IS THE FEATURED IMAGE  -->
<a href="{{ 'mission-lunch-6.jpg' | file_url }}" data-fancybox="mission" data-caption="">
	<img src="{{ 'mission-lunch-6.jpg' | file_url }}" alt="" />
  <div class="event-title"><h4 class="catering-event">Mission Lunch </h4></div>
  <div class="view-gallery">View Gallery &#155;</div>
  
</a>


<!-- THESE ARE THE REST OF THE IMAGES IN THE GALLERY -->
<div style="display:none;">
<a href="{{ 'mission-lunch-2.jpg' | file_url }}" data-fancybox="mission" data-caption="">
	<img src="{{ 'mission-lunch-2.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'mission-lunch-4.jpg' | file_url }}" data-fancybox="mission" data-caption="">
	<img src="{{ 'mission-lunch-4.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'mission-lunch-5.jpg' | file_url }}" data-fancybox="mission" data-caption="">
	<img src="{{ 'mission-lunch-5.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'mission-lunch-6.jpg' | file_url }}" data-fancybox="mission" data-caption="">
	<img src="{{ 'mission-lunch-6.jpg' | file_url }}" alt="" />
</a>

<!-- <a href="{{ 'mission-lunch-7.jpg' | file_url }}" data-fancybox="mission" data-caption="">
	<img src="{{ 'mission-lunch-7.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'mission-lunch-8.jpg' | file_url }}" data-fancybox="mission" data-caption="">
	<img src="{{ 'mission-lunch-8.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'mission-lunch-9.jpg' | file_url }}" data-fancybox="mission" data-caption="">
	<img src="{{ 'mission-lunch-9.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'mission-lunch-10.jpg' | file_url }}" data-fancybox="mission" data-caption="">
	<img src="{{ 'mission-lunch-10.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'mission-lunch-11.jpg' | file_url }}" data-fancybox="mission" data-caption="">
	<img src="{{ 'mission-lunch-11.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'mission-lunch-12.jpg' | file_url }}" data-fancybox="mission" data-caption="">
	<img src="{{ 'mission-lunch-12.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'mission-lunch-13.jpg' | file_url }}" data-fancybox="mission" data-caption="">
	<img src="{{ 'mission-lunch-13.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'mission-lunch-14.jpg' | file_url }}" data-fancybox="mission" data-caption="">
	<img src="{{ 'mission-lunch-14.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'mission-lunch-15.jpg' | file_url }}" data-fancybox="mission" data-caption="">
	<img src="{{ 'mission-lunch-15.jpg' | file_url }}" alt="" />
</a> -->
  
</div>