<!-- THIS IS THE FEATURED IMAGE  -->
<a href="{{ 'daxko-8.jpg' | file_url }}" data-fancybox="daxko" data-caption="">
	<img src="{{ 'daxko-8.jpg' | file_url }}" alt="" />
  <div class="event-title"><h4 class="catering-event">Daxko Lunch</h4></div>
  <div class="view-gallery">View Gallery &#155;</div>
  
</a>


<!-- THESE ARE THE REST OF THE IMAGES IN THE GALLERY -->
<div style="display:none;">
<a href="{{ 'daxko-2.jpg' | file_url }}" data-fancybox="daxko" data-caption="">
	<img src="{{ 'daxko-2.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'daxko-3.jpg' | file_url }}" data-fancybox="daxko" data-caption="">
	<img src="{{ 'daxko-3.jpg' | file_url }}" alt="" />
</a>
  
  <a href="{{ 'daxko-4.jpg' | file_url }}" data-fancybox="daxko" data-caption="">
	<img src="{{ 'daxko-4.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'dinner-in-the-streets5.jpg' | file_url }}" data-fancybox="daxko" data-caption="">
	<img src="{{ 'daxko-5.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'daxko-6.jpg' | file_url }}" data-fancybox="daxko" data-caption="">
	<img src="{{ 'daxko-6.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'daxko-7.jpg' | file_url }}" data-fancybox="daxko" data-caption="">
	<img src="{{ 'daxko-7.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'daxko-1.jpg' | file_url }}" data-fancybox="daxko" data-caption="">
	<img src="{{ 'daxko-1.jpg' | file_url }}" alt="" />
</a>

<a href="{{ 'daxko-9.jpg' | file_url }}" data-fancybox="daxko" data-caption="">
	<img src="{{ 'daxko-9.jpg' | file_url }}" alt="" />
</a>

  
</div>