{% assign on_sale = false %}
{% if product.available and product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}


{% for tag in product.tags %}
  {% if tag == 'Special' %}
    {% assign special = true %}
  {% else %}
    {% assign special = false %}
  {% endif %}
{% endfor %}

{% for product in collections.best-sellers.products %}
{%- include 'bold-product' with product, hide_action: 'skip' -%}
  {% if product.template_suffix == 'by-the-pound' %}
    {% assign btp = true %}
  {% endif %}
{% endfor %}



<div class="main_box{% if section.settings.collection_overlay %} quick-view-overlay {% endif %}">
  <div class="box_1">
    

    
    {% if special %}
    <div class="on-sale">Special</div>
    {% endif %}
    
    {% if on_sale and section.settings.show_sale_badge %}
    <div class="on-sale">{{ 'products.product.sale' | t }}</div>
    {% endif %}
    {% if sold_out %}
    <div class="sold-out">{{ 'products.product.sold_out' | t }}</div>
    {% endif %}
    <div class="product-image">
       
      <a href="{{ product.url | within: collection }}">
        <noscript>
        <img  src="{{ product.featured_image.src | product_img_url: "500x400", crop:'center'}}" alt="{{ product.featured_image.alt | escape }}">
        </noscript>
        <img class="lazyload"
             src="{{ product.featured_image.src | product_img_url: "500x400", crop:'center' }}"
             alt="{{ product.featured_image.alt | escape }}"/>  
        
         <div class="spinner-cube">
           <div class="loadFacebookG">
            <div class="blockG_1 facebook_blockG"></div>
            <div class="blockG_2 facebook_blockG"></div>
            <div class="blockG_3 facebook_blockG"></div>
          </div>
        </div>	
        
      </a>
    </div>
    {% if section.settings.collection_overlay %}
      <div class="overlay hidden-sm hidden-xs">
        {% include 'product-quick-view-btn' qvp:product %}
      </div>
    {% endif %}
  </div>
  <div class="desc">
    {% if section.settings.show_product_reviews_stars %}
    	 <span class="shopify-product-reviews-badge min_height_22" data-id="{{ product.id }}"></span>
         <div class="clearfix"></div> 	
    {% endif %}
    <h5><a href="{{ product.url | within: collection }}">{{ product.title | escape | remove: 'ITF - '| remove: 'Special -' }}</a></h5>
    {% if section.settings.show_grid_type %}
    <p>{{ product.type }}</p>
    {% endif %}    
    	<div class="price">
         {% unless product.price_max == 0 and settings.custom_price0_text != blank %}
          <span class="money">{% if product.price_varies %}{{ 'products.product.price_from' | t }}{% endif %} {{ product.price | money }} 
          {% if on_sale %}</span><span class="compare-price money">{{ product.compare_at_price | money }}</span>{% endif %}
  		 {% else %}  
          <span>{{settings.custom_price0_text }}</span> 
        {% endunless %}
          
          {% if product.template_suffix == "by-the-pound" %}
            <span>/lb</span>
          {% endif %}
          </div>
    
  </div>
  {% if section.settings.collection_overlay %}
  {% include 'product-quick-view' qvp:product %}
  {% endif %}
</div>