<div id="catering-content">
  <div class="section-light" id="hero">
      <div class="hero-content-wrap">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-lg-push-6 col-md-12 col-sm-12 text-center">
              <div class="logo"><img src=" {{ 'mealfit-plans-logo.png' | asset_url }}" height="100px;"></div>
              <h2>Sit back, relax, mealfit has you covered</h2>
              <p>Most of the time when you think of catering, you think of bad tasting unhealthy food. Not with mealfit. We take pride in making healthy, REAL, food taste amazing.</p>
            	<div class="row">
                  <a href="https://www.ezcater.com/catering/mealfit-3" class="catering-btn-primary" target="_blank">Book us for your next event</a>
              <p class="text-center" style="margin-top:15px;">Powered by <img src="{{ 'ez-cater-dark.png' | asset_url }}" style="width:100px;"></p> 
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  <div class="section-dark" id="video">
      <div class="container">
        <div class="content-wrap">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12"><style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/0gzbkpCgVr8' frameborder='0' allowfullscreen></iframe></div></div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
              <h3>Is food really <i>that</i> important?</h3>
              <p>Food is important! It is something that people remember when it’s great and something people remember when it’s bad. mealfit has options for every setting and every appetite. We’re happy to create a customized menu for your event. We’ll even provide set-up and teardown. Most of the time when you think of catering, you think of bad tasting unhealthy food. Not with mealfit. We take pride in making healthy, REAL, food taste amazing. We can do groups from 5 – 1500. Plated meals to boxed lunches and everything in between.</p>
              
            
            </div>
          </div>
        </div>
      </div>
  </div>
  
  <div class="section-light text-center" id="event-types">
      <div class="container">
        <div class="content-wrap-table">
          <div class="content-wrap">
            <div class="row">
              
              <div class="col-lg-4 col-md-4 col-sm-12">
                <h3>Weddings</h3>
                <p class="small">From elegant hors d'oeuvres to classic southern dishes and tempting desserts - we're happy to create a customized menu for your special day that will surely make all of your guest impressed and leave full!</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                <h3>Corporate Events</h3>
                <p class="small">Your employees and prospects deserve the best and typical catering options would have you serve them unhealthy deli meat and other boring options - Our food is not only healthy but made from scratch, delicious and shows your appreciation for your staff and prospects!</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                <h3>Special Events</h3>
                <p class="small">Really make your special event special with mealfit catering - Our food will match all of the special attention you've put into your event while we do everything else including set-up and teardown.</p>
              </div>
            </div>
            
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                  <div class="col-lg-6"><a href="/pages/catering-menu-download" class="catering-btn-primary">Download Catering Menu</a></div>
                  <div class="col-lg-6"><a href="/pages/catering-tell-us-about-your-event" class="catering-btn-secondary">Tell Us about your event</a></div>
                </div>
            </div>
            
          </div>
        </div>
      </div>
  </div>
  
  <div class="section-dark" id="event-gallery">
    <div class="container">
      
      <div class="row">
        <div class="col-sm-12">
          <h3 class="text-center" style="padding:90px 0 0 0;">Recent Events</h3>
          <p class="text-center">Click one of the events below to view the gallery</p>
        </div>
        
      </div>
      <div class="row">
        
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="sfbox box-page animated fadeInUp" data-animation="fadeInUp">
            <div class="rte">
              <div class="title clearfix">
                {% include 'catering-event-1' %}
                
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="sfbox box-page animated fadeInUp" data-animation="fadeInUp">
            <div class="rte">
              <div class="title clearfix">
                  {% include 'catering-event-2' %}
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="sfbox box-page animated fadeInUp" data-animation="fadeInUp">
            <div class="rte">
              <div class="title clearfix">
                  {% include 'catering-event-3' %}
                
              </div>
            </div>
          </div>
        </div>
        </div>
      
      <div class="row">
        
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="sfbox box-page animated fadeInUp" data-animation="fadeInUp">
            <div class="rte">
              <div class="title clearfix">
                {% include 'catering-event-4' %}
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="sfbox box-page animated fadeInUp" data-animation="fadeInUp">
            <div class="rte">
              <div class="title clearfix">
                {% include 'catering-event-5' %}
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="sfbox box-page animated fadeInUp" data-animation="fadeInUp">
            <div class="rte">
              <div class="title clearfix">
                {% include 'catering-event-6' %}
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="sfbox box-page animated fadeInUp" data-animation="fadeInUp">
            <div class="rte">
              <div class="title clearfix">
                {% include 'catering-event-7' %}
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="sfbox box-page animated fadeInUp" data-animation="fadeInUp">
            <div class="rte">
              <div class="title clearfix">
                {% include 'catering-event-8' %}
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="sfbox box-page animated fadeInUp" data-animation="fadeInUp">
            <div class="rte">
              <div class="title clearfix">
                {% include 'catering-event-9' %}
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="sfbox box-page animated fadeInUp" data-animation="fadeInUp">
            <div class="rte">
              <div class="title clearfix">
                {% include 'catering-event-10' %}
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="sfbox box-page animated fadeInUp" data-animation="fadeInUp">
            <div class="rte">
              <div class="title clearfix">
                {% include 'catering-event-11' %}
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="sfbox box-page animated fadeInUp" data-animation="fadeInUp">
            <div class="rte">
              <div class="title clearfix">
                {% include 'catering-event-12' %}
              </div>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
  
  <div class="section-light" id="testimonial">
      <div class="container">
        <div class="content-wrap">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
              <img src="{{ 'testimonial-2.jpg' | asset_url }}" class="img-responsive">
              <div class="blockquote">
                <h3>"Perfect addition to your wedding day survival kit. Why wouldn’t you go with mealfit for catering your wedding?"</h3>
                <p>Alivia Wallace<br> <small>Bride</small></p>
              </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-12">
              <img src="{{ 'testimonial-7.jpg' | asset_url }}" class="img-responsive">
              <div class="blockquote">
                <h3>“Mealfit provided this astounding spread. In my profession, customer service is what’s going to make you memorable. So being able to rely on them to exceed my expectations has been awesome.”</h3>
              <p>Nikki Harrison,<br>
                <small>Pharmacuetical Sales Rep</small></p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
              <img src="{{ 'testimonial-1.jpg' | asset_url }}" class="img-responsive">
              <div class="blockquote">
                <h3>"Exceptional turn-key service. The team does a great job in coordinating. They take the stress and worry off you."</h3>
                <p>Chris Peterson<br><small>President of the Tennessee NWTF</small></p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
              <img src="{{ 'testimonial-4.jpg' | asset_url }}" class="img-responsive">
              <div class="blockquote">
                <h3>"Mealfit is like momma’s cooking away from home"</h3>
                <p>Sam<br><small>Assistant HC Football Tennessee Tech University </small></p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    
  </div>
  
  <div class="section-light text-center" id="food">
    <div class="row no-gutters">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <img src="{{ 'BraisedCitrusChicken.jpg' | asset_url }}" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <img src="{{ 'BBQRibs.jpg' | asset_url }}" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <img src="{{ 'BBQSandwich.jpg' | asset_url }}" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <img src="{{ 'SteakRolls.jpg' | asset_url }}" class="img-responsive">
      </div>
    </div>

  </div>
  
  <div class="section-light" id="event-types-list">
    <div class="container">
      <div class="content-wrap-table">
        <div class="content-wrap">
          <div class="row">
            <div class="col-lg-6 col-lg-push-6">
              <h2>We specialize and have experience serving our delicious healthy food at these special events:</h2>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <ul>
                    <li>Office lunches</li>
                    <li>Weddings</li>
                    <li>Showers</li>
                    <li>Pharmaceutical Lunches</li>
                    <li>Rehearsal Dinners</li>
                    <li>Birthday / Anniversary parties</li>
                    <li>Day of Event</li>
                    <li>Meals for sports teams</li>
                    <li>On site Meals</li>
                    <li>Boxed lunched for schools</li>
                    <li>Holiday Meals</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <ul>
                    <li>Super Bowl or Sports Events </li>
                    <li>Fundraising Banquets</li>
                    <li>School and Sports Banquets</li>
                    <li>Greek Life Functions</li>
                    <li>Prom meals</li>
                    <li>Bachelor / Bachelorette parties</li>
                    <li>Company Picnics</li>
                    <li>Government functions</li>
                    <li>Family Reunions</li>
                    <li>Bridal party brunch/ lunch</li>

                  </ul>
                </div>
              
            </div>
              <div class="row">
                <br>
                <div class="col-lg-12"><a href="/pages/catering-tell-us-about-your-event" class="catering-btn-primary">Tell us about your next event</a></div>
                 
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  
  
</div>
{% schema %}
  {
    "name": "Page",
    "settings": [
      {
        "type": "header",
        "content": "Sidebar options"
      },
      {
        "type": "link_list",
        "id": "page_link_list",
        "label": "Choose custom menu"
      },
      {
        "type": "checkbox",
        "id": "show_sidebar_page_collections",
        "label": "Enable collections"
      },
      {
        "type": "checkbox",
        "id": "show_page_sidebar_sale",
        "label": "Enable products"
      },
      {
        "type": "collection",
        "id": "sidebar_page_sale_collection",
        "label": "Choose collection"
      },
      {
        "type": "select",
        "id": "sidebar_page_product_count",
        "label": "Number of products",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          }
        ],
        "default": "4"
      }
    ]
  }
{% endschema %}



<style>
  
  .rte{padding:0;}
  .section-dark .rte h4 {
    color: #2a2a2a;
    margin-bottom: 0;
}
  #shopify-section-page-catering-landing p{font-size:18px;}
  #shopify-section-page-catering-landing p.small{font-size:14px; line-height:1.25em;}
  .no-gutters{margin-right:0;margin-left:0}.no-gutters>.col,.no-gutters>[class*=col-]{padding-right:0;padding-left:0}
  #shopify-section-page-catering-landing h1, h2, h3, h4, h5, h6, p{font-family:RalewayY, Arial, Helvetica;}
  .section-dark p{color:#fff !important; margin-bottom:30px;}
  .section-dark h1, .section-dark h2, .section-dark h3, .section-dark h4{color:#fbc500;}
  
  .section-light{color:#232323 !important; background-color:#efefef;}
  #catering-content{
    background-image:url({{ 'wood-bg-good.jpg' | file_url }});
    background-attachment: fixed;
  }
  #hero{
    background-image: url({{ 'cateringHero.jpg' | asset_url }});
    min-height:400px;
    background-size:cover;
    background-position: right;
    width:100%;
    display:table;
  }
  .hero-content-wrap{
  	display:table-cell;
    vertical-align:middle;
    padding:90px 90px 120px 90px;
  }
  .content-wrap-table{display:table; width:100%;}
  .content-wrap{
  	display:table-cell;
    vertical-align:middle;
    padding:90px 0;
  }
  #shopify-section-page-catering-landing .logo{margin-bottom:30px;}
  #shopify-section-page-catering-landing .h2{margin-bottom:15px;}
  #shopify-section-page-catering-landing p{margin-bottom:45px;}
  .catering-btn-primary{
  	display: block;
    padding: 10px;
    background-color: #232323;
    border:2px solid #232323;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    text-align:center;
  }
  .catering-btn-secondary{
  	display: block;
    padding: 10px;
    background-color: transparent;;
    border:2px solid #222;
    border-radius: 4px;
    color: #232323;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    text-align:center;
  }
  .catering-btn-accent{
  	display: block;
    padding: 10px;
    background-color: transparent;;
    border:2px solid #fbc500;
    border-radius: 4px;
    color: #fbc500;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    text-align:center;
  }
  .catering-btn-accent:hover{
    background-color: #fbc500;
    color: #232323;
    text-align:center;

  }
  
  
  .embed-container {
    border: 1px solid rgba(255, 255, 255, .5);
  }
  
  
  #event-types-list{
  	background-image: url({{ 'fork.jpg' | asset_url }});
    background-size:cover;
    background-position: center right;
  }
  #event-types-list ul, #event-types-lis li {
    list-style: disc;
    font-size: 14px;
    list-style-position: inside;
  }
  #event-types-list ul {margin-top: 30px;} 
  #event-types-list ul li {
    margin-bottom: 10px;
    font-size: 16px;
}
  
  
  .blockquote {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    padding: 20px 0;
    font-size:14px;
    font-style:italic;
}
  
  .blockquote h3 {
    font-size: 14px;
    font-weight: 100;
    text-align:justify;
  }
  #shopify-section-page-catering-landing .blockquote p {
    margin-bottom: 0;
    text-align: left;
    font-size: 14px;
    font-weight: 800;
    line-height: 1em;
    margin-top: 10px;
}
  small{font-weight: 300;}
  
  
  
  
  
  
  
/*   MOBILE STYLES */
  /* LOWER THAN iPAD */
@media (max-width: 600px){
  .hero-content-wrap {
    display: table-cell;
    vertical-align: middle;
    padding: 60px 20px 20px 20px;
  }
  .section-dark h1, .section-dark h2, .section-dark h3, .section-dark h4 {
    color: #fbc500;
    margin-top: 15px;
  }
  .content-wrap {
    display: table-cell;
    vertical-align: middle;
    padding: 30px 0;
  }
  #shopify-section-page-catering-landing p {
    font-size: 14px;
}
}
</style>



<script type="text/javascript">
	$("[data-fancybox]").fancybox({
	});
</script>