<!-- /templates/gift_card.liquid -->
{% layout none %}
{% assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency %}
{% assign formatted_initial_value_stripped = formatted_initial_value | strip_html %}
<!doctype html>
<!--[if lt IE 7]><html class="template-giftcard no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="template-giftcard no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="template-giftcard no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 template-giftcard no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="template-giftcard no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value_stripped, shop: shop.name }}</title>
  {%- comment %}<locksmith:ae94>{% endcomment -%}
    {%- include 'locksmith-variables', locksmith_hiding_scope: 'resource' %}{% if locksmith_transparent %}<meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">{% endif -%}
    {%- comment %}original: <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">{%- endcomment %}
  {%- comment %}</locksmith:ae94>{% endcomment -%}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="format-detection" content="telephone=no">

  {{ 'gift-card.scss.css' | asset_url | stylesheet_tag }}
  {{ 'modernizr.gift-card.js' | shopify_asset_url | script_tag }}
  {{ 'vendor/qrcode.js' | shopify_asset_url | script_tag }}
  {{ 'style.css' | asset_url | stylesheet_tag }}

  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>

  <div class="wrapper">

    <header class="giftcard-header" role="banner">
      <div class="h1 header-logo" itemscope itemtype="http://schema.org/Organization">
            <img src="{{ 'mf-logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
      </div>
      <div class="shop-url">{{ shop.url }}</div>
    </header>

    <main class="giftcard" role="main">
      <div class="giftcard__border{% if gift_card.expired or gift_card.enabled != true %} disabled{% endif %}">
        <div class="giftcard__content">

          <div class="giftcard__header">
            <h2 class="giftcard__title">{{ 'gift_cards.issued.subtext' | t }}</h2>
            {% unless gift_card.enabled %}
              <span class="giftcard__tag">{{ 'gift_cards.issued.disabled' | t }}</span>
            {% endunless %}
            {% assign gift_card_expiry_date = gift_card.expires_on | date: "%m/%d/%y" %}
            {% if gift_card.expired and gift_card.enabled %}
               <span class="giftcard__tag">{{ 'gift_cards.issued.expired' | t: expiry: gift_card_expiry_date }}</span>
            {% endif %}
            {% if gift_card.expired != true and gift_card.expires_on and gift_card.enabled %}
              <span class="giftcard__tag giftcard__tag--active">{{ 'gift_cards.issued.active' | t: expiry: gift_card_expiry_date }}</span>
            {% endif %}
          </div>

          <div class="giftcard__wrap">
            <img src="{{ 'HC-FIT-meal-card-1.jpg' | asset_url }}" alt="Gift card illustration">

            {% assign initial_value_size = formatted_initial_value | size %}
            <div class="h1 giftcard__amount{% if initial_value_size > 6 %} giftcard__amount--medium{% endif %}">
              {% if gift_card.balance != gift_card.initial_value %}
                <span class="tooltip">
                  <span class="tooltip__label">{{ gift_card.balance | remove:"$0." }} <small>meal credits</small></span>
                </span>
              {% endif %}
              <strong>{{ formatted_initial_value | remove:"$0." }}</strong><span class="meal-credits">meal credits</span>
            </div>

            
          </div>
          
          

          <p class="giftcard__instructions">Please add this meal card to your apple wallet, or take a screenshot.</p>
          <p style="text-align:center; padding:15px;">Show at the register to redeem your mealfit meal credits</p>
          
          

          <div id="qr-code"></div>
          
          <div class="apple-wallet" style="text-align:center; margin-bottom:15px;">
            {% if gift_card.pass_url %}
            <a href="{{ gift_card.pass_url }}"><img id="apple-wallet-badge" src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="Add To Apple Wallet"></a>
            {% else %}
            <img src="{{ 'gift-card/icon-bug.png' | shopify_asset_url }}" class="giftcard__icon" alt="{{ 'gift_cards.issued.subtext' | t }}">
            {% endif %}
          </div>
          
          {% comment %}
          {% assign code_size = gift_card.code | format_code | size %}
          <h6 style="text-align: center;text-transform: uppercase;">Confirmation #</h6>
            <div class="giftcard__code{% if code_size <= 25 %} giftcard__code--large{% elsif code_size > 25 and code_size <= 30 %} giftcard__code--medium{% else %} giftcard__code--small{% endif %}" onclick="selectText('GiftCardDigits');">
              <div class="giftcard__code__inner">
                <strong class="giftcard__code__text" id="GiftCardDigits">{{ gift_card.code | format_code }}</strong>
              </div>
            </div>
          {% endcomment %}
          <script>
            new QRCode(document.getElementById("qr-code"), {
              text: "{{ gift_card.qr_identifier }}",
              width: 120,
              height: 120
            });
           </script>

          <div class="giftcard__actions">
            <a href="#" class="action-link" onclick="window.print();">
              <i class="action-link__print"></i>{{ 'gift_cards.issued.print' | t }}
            </a>
          </div>

        </div>
      </div>
    </main>

    <footer class="giftcard__footer" role="contentinfo">
      If you have any questions, please contact us at info@mealfit.co
    </footer>

  </div>

  <script type="text/javascript">
    /*============================================================================
      Auto-select gift card code on click, based on ID passed to the function
        - Use a different method depending on IE or others
    ==============================================================================*/
    function selectText(element) {
      var doc = document,
          text = doc.getElementById(element);

      if (doc.body.createTextRange) { // ms
        var range = doc.body.createTextRange();
        range.moveToElementText(text);
        range.select();
      } else if (window.getSelection) { // moz, opera, webkit
        var selection = window.getSelection(),
            range = doc.createRange();
        range.selectNodeContents(text);
        selection.removeAllRanges();
        selection.addRange(range);
      }
    }
  </script>
  
  
  <style>
  .template-giftcard .wrapper .header-logo{text-align:center;}
  .template-giftcard .wrapper .header-logo img{height:50px;}
  .meal-credits{
    font-size: 14px;
    line-height: 1em;
    margin-top: 0;
    display: block;
    text-align: center;
  }
  .giftcard__instructions {
    color: #000;
    font-size: 20px;
    padding: 0 50px;
  }
  .giftcard__border {
    background-color: #4e4e4e;
    border: 1px solid #656565;
  }
  .template-giftcard, .template-giftcard body {
    background: #3a3b3d;
  }
  .giftcard__amount{text-align:center;}
    .giftcard__amount strong {color:#f8d616;}
  .giftcard__code {
    position: relative;
    padding-top: 20px;
    display: block;
  }
  .giftcard__code__text{font-size:14px;}
  .giftcard__footer{color:#ccc;}
    
    
    @media only screen and (max-width:500px) {
	.giftcard__title {
    float: none;
    margin-bottom: 0;
    font-size: 19px;
    text-align: center;
    }
    .giftcard__tag--active {
    background: transparent;
    color: #999;
    border: 0;
    float: none;
  }
    .giftcard__instructions{padding:0;}
    .giftcard__actions {
    padding: 12px;
    display: none;
  }
}
    
  </style>

</body>
</html>
